*{
    margin: 0;
}

.outer{
    width: 100vw;
    height: 100vh;
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
}

.inner{
    width: 250px;
    height: 300px;
    border: 1px solid gainsboro;
    box-shadow: 5px 5px 5px gainsboro;
    border-radius: 5px;
}
.top, .bottom{
    padding: 5px;
}

.input{
    width: 89%;
    height: 35px;
    text-align: right;
    padding: 0 12px;
    font-weight: 600;
}
.input:focus{
    outline: none;
}
.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.bottom >button{
    width: 35px;
    height: 35px;
}